<div id=style-bar [ngClass]="{'col-md-12':true}"> 
  <button class="style-btns" id="bold-btn" (click)='mkBold()'>Bold</button>
  <button class="style-btns" id="bold-btn" (click)='mkItalic()'>Italic</button>
  <button class="style-btns" id="bold-btn" (click)='mkBig()'>Font Size</button>
  <button class="style-btns" id="bold-btn" (click)='mkHighlight()'>Highlight</button>
  <select #selectedValue (change)="mkBig(selectedValue.value)" id="font-size">
      <option *ngFor="let num of NUMS" [value]='num'>{{num}}</option>
  </select>
</div>