<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" id="app-body">
    <div class="container">
        <ng-template #dynamic></ng-template>
    </div>
</div>

