<div class="row">
    <div id={{blankSheetId}} [ngStyle]="blankSheetStyle"  [ngClass]="{'col-10':true, 'offset-md-1':true}" >
        <div id={{sheetTextId}} [ngStyle]="sheetTextStyle" contenteditable="true" autofocus 
            (focus)="onFocus()" 
            (paste)="onPaste($event)" 
            (keydown)="keyPress($event)" >
        </div>
    </div>
</div>