/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: rgb(145, 155, 155);
}




/**********************Scrollbar****************************/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}